<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Info Page</title>
</head>
<body>
    <h1>Here are your users:</h1>
    {% if user_info %}  
    <ol>
        {% for user in user_info %}
        <li>{{ user.first_name }}</li>
            <ul>
                <li>First Name: {{ user.first_name }} </li>
                <li>Last Name: {{ user.last_name }} </li>
                <li>Email: {{ user.email }} </li>
            </ul>
        {% endfor %}
    </ol>
        
    {% else %}
    <p>No User Found</p>
    {% endif %}

    
</body>
</html>